<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-med-2 col-lg-4 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white" >
                    <div class="panel-heading">
                        
                        <h3 class="pt-3 font-weight-bold">Thank you for registering!</h3>
                        <button  routerLink="/login" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

