<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-med-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Register for CampUs</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="Firstname" type="text" placeholder="First Name" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="Lastname" type="text" placeholder="Last Name" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="Email" type="text" placeholder="Email" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="Username" type="text" placeholder="Username" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [(ngModel)]="Passwordhash" type="text" placeholder="Password" [ngModelOptions]="{standalone: true}">
                                    <!-- <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span> -->
                                </div>
                            </div>
                            
                            <!-- <button type= "submit" class="btn btn-primary btn-block mt-4 w-100">Login</button> -->
                            <!-- <button type="button" routerLink="/login" click class="btn btn-primary btn-block mt-4 w-100">Register</button>     -->
                            <button (click)="addUser()" class="btn btn-primary btn-block mt-4 w-100">Register</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

