.panel-heading{
  text-align: center;
  margin-bottom: 10pt;
}
  
.panel{
  min-height: 350px;
  box-shadow: 10px 10px 50px black;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 450px;
}
  
.input-field {
  padding-bottom: 1em;
}

.container{
  justify-content: center;
}

button {
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  background-color: white;
  border-color: #1e3050;
}