  /* new sidebar nav */
  .app{
    display: flex;
    min-height: 100vh;
  }
.sidebar{
  flex: 1 1 0;
  max-width: 175px;
  padding: 2rem 1rem;
  background-color: #2943a2;
}


.sidebar h3 {
  color: gray;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu{
  margin: 0 -1rem;

}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
  transition: 0.2s linear;
  font-size: 1.25rem;
  font-weight: 500;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: orange;
  
  border-right: 5px solid orange;
}