<div class="outer">
    <div class= "app">
    
        <aside class="sidebar">
            <nav class="menu">
                
                <a href="/home"class="menu-item">
                    <i class="fa-solid fa-house"></i>
                Home</a>
                <a href="/home"class="menu-item">
                    <i class="fa-solid fa-magnifying-glass"></i>    
                Search</a>
                <a href="/home"class="menu-item is-active">
                    <i class="fa-solid fa-plus"></i>
                Post</a>
                <!-- ideally this displays the actual user icon -->
                <a href="/profile"class="menu-item ">
                    <i class="fa-solid fa-user"></i>
                Profile</a>
            </nav>
        </aside>
        <!-- main part of page-->
        <main class="content">input fields will go here</main>
    </div>
</div>