.outer {
  height: 100vh;
  background-image: url(../../assets/cen3031logo.PNG);
  background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #2943a2;
    overflow: hidden;
    border-bottom: 1px solid black;
    max-height: 55px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav .left {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.home {
    background-color: #ffffff;
    color: black;
  }

  .right {
    justify-items: center;
    justify-content: center;
    padding: 0px;
    display: flex;
    float: right;
    border-radius: 50%;
    max-width: 54px;
    max-height: 54px;
  }